[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/jeeva91
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/jeeva91
	label-Verified = -1..+1 group user/jeeva91
	push = group user/jeeva91
	read = group user/jeeva91
	rebase = group user/jeeva91
	removeReviewer = group user/jeeva91
	submit = group user/jeeva91
[access "refs/heads/*"]
	create = group user/jeeva91
	push = +force group user/jeeva91
	pushMerge = group user/jeeva91
	read = group user/jeeva91
[access "refs/tags/*"]
	push = group user/jeeva91
	push = +force group user/jeeva91
